*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#8CC461;
}

#confetti {
    position: relative;
    top:0;
    left: 0;
    z-index: -1;
}

.hurray-container{
    position: absolute;  
    top: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    z-index: 0;
}

.hurray{
    font-family: Roboto;
    font-size: 91px;
    font-weight: 600;
    line-height: 106.64px;
    letter-spacing: 0.1em;
}

.won{
    font-family: Roboto;
    font-size: 41px;
    font-weight: 600;
    line-height: 48.05px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}


#play-again-btn{
    margin: 3% 0%;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-align: center;
    background-color: white;
    color: black;
    height: 15%;
    width: 17%;
    text-transform: uppercase;
    border-radius: 5px;
    /* width:30%;
    height: 40%;    */
}

#rules-button{
    position: fixed;
    border: 1px solid white;
    bottom : 10px;
    right: 1%;
    width: 8%;  
    border-radius: 5px;
    font-family: Roboto;
    font-size: 1em;
    font-weight: 600;
    line-height: 24.61px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color:white;
    background: transparent 
}


#rules-container{
    display: none;
    position: fixed;
    background-color: #004429;
    bottom: 45px;
    right: 2%;
    margin: 5px 0px;
    border: 5px solid white;
    border-radius: 5px;
    color: white;
    width : 250px;
    height: 300px;
}

#rules-container .rules-text{
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding: 5% 10%;
}

#rules-container ul.rules-description{
    list-style-type: square;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 15.23px;
    text-align: left;
}

#rules-container ul.rules-description li{
        color: white;
        margin: 2% 10%;
}

#rules-container ul.rules-description li::marker{
    color: #FFD600;
    font-size: 1rem;
}
.cross{
    position: absolute;
    bottom : 280px;
    right: -10px;
    border-radius: 50%;
    border: 1px white solid;
    background-color: red;
}
